<p>tablas works!</p>
<div class="row">
	<div class="col-md-6 table-responsive">
		<table class="table table-striped table-bordered table-sm row-border hover"
		datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
		  <thead>
		  <tr class="th-style">
	      <th>ID</th>
	      <th>Título</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr class="th-style-2 rowSize" *ngFor="let row of items">
	      <td>{{row.id}}</td>
	      <td>{{row.titulo}}</td>
		  </tr>
		  </tbody>
		</table>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6">
				<form>
					<div class="form-group row">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="exampleFormControlSelect1">Mostrar</span>
							</div>
							<select class="form-control" id="exampleFormControlSelect1" (change)="onChange($event.target.value)">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<div class="input-group-append">
						    <span class="input-group-text">elementos</span>
						  </div>
						</div>
					</div>
				</form>
		  </div>
		  <div class="col-md-6">
		    <form [formGroup]="juecesFormGroup">
		      <div class="form-group row">
		        <div class="input-group">
		          <div class="input-group-prepend">
		            <span class="input-group-text" id="search-addon3"><fa-icon [icon]="faSearch"></fa-icon></span>
		          </div>
		          <input type="text" class="form-control" placeholder="Ingrese un término para filtrar por título" aria-describedby="search-addon3" (keyup)="filtrar($event);">
		        </div>
		      </div>
		    </form>
		  </div>
	  	<div class="col-md-12">
				<ngx-datatable
		      class="bootstrap"
		      [rows]="itemsFiltrados"
		      [reorderable]="'true'"
		      [columnMode]="'force'"
		      [headerHeight]="20"
		      [footerHeight]="50"
		      [rowHeight]="'50'"
		      [scrollbarH]="true"
		      [selected]="selected"
		      [selectionType]="SelectionType.single"
		      (select)="onSelect($event)"
		      [sorts]="[{prop: 'id', dir: 'asc'},{prop: 'titulo', dir: 'desc'}]"
		      [limit]="totalItems">
	        <ngx-datatable-column name="id" [width]="20">
	          <ng-template let-column="column" ngx-datatable-header-template><span class="draggable">{{ column.name }}</span></ng-template>
	          <ng-template let-value="value" ngx-datatable-cell-template>
	            {{ value }}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="titulo" [width]="100">
	          <ng-template let-column="column" ngx-datatable-header-template><span class="draggable">{{ column.name }} </span></ng-template>
	          <ng-template let-value="value" ngx-datatable-cell-template>
	            {{ value }}
	          </ng-template>
	        </ngx-datatable-column>
    	  </ngx-datatable>
    	</div>
  	</div>
  </div>
</div>